@import "../../../../../../shared/styles/_vars.scss";
.nav {
    grid-column: 1;
    grid-row: 1;
    padding: 5px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 1fr;
    background: lavender;
    .title,
    .slogan {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        > * {
            text-shadow: 2px 2px 2px #333;
        }
    }
    .title {
        grid-row: 2;
        grid-column: 1;
        font-size: 4em;
        h1 {
            font-size: 0.9em;
        }
    }
    .slogan {
        grid-column: 1;
        grid-row: 3;
        padding: 0 0 15px 0;
        h2 {
            font-size: 1.7em;
        }
    }
    .menu_content,
    .text_content,
    .menu_content > .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu_content {
        grid-column: 1;
        grid-row: 1;
        flex-flow: row nowrap;
        .menu {
            flex-flow: row nowrap;
            width: 60%;
            height: auto;
            .item {
                width: 18%;
                height: 30px;
                margin: 0 2px;
                a {
                    margin: auto;
                    padding: 3px 5px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: 1em;
                    color: #fff;
                    border: none;
                    border-radius: 2em;
                    background: dodgerblue;
                    transition: background linear 150ms;
                    text-align: center;
                    &:active {
                        background: rgb(0, 174, 255) !important;
                    }
                    &:hover {
                        background: rgb(7, 97, 181);
                    }
                }
            }
        }
        @media all and (max-width: 882px) {
            .menu {
                .item {
                    width: 16%;
                    &:nth-child(2) {
                        width: 29%;
                    }
                    a {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    .text_content {
        grid-column: 1;
        grid-row: 2;
        flex-flow: column nowrap;
        .title,
        .slogan {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            h1,
            h2 {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
        }
        .title {
            height: 65%;
            h1 {
                width: 100%;
                height: 100%;
                font-size: 3em;
                font-weight: bolder;
            }
        }
        .slogan {
            height: 35%;
            h2 {
                font-size: 2em;
                width: 100%;
                height: 100%;
            }
        }
    }
    .menu_content_mobile {
        position: fixed;
        height: 120px;
        padding: 0 5px;
        top: 10px;
        z-index: 100;
        left: 5px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        .menu_widget,
        .loggin_widget {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: rgba(30, 146, 255, 0.255);
            cursor: pointer;
            transition: background linear 100ms;
            &:hover {
                background: rgba(30, 146, 255, 0.474);
                .item_widget {
                    &::before {
                    }
                }
            }
            .item_widget {
                background: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                font-size: 0.8em;
                font-weight: bolder;
                color: #fff;
                width: 50%;
                height: 50%;
                &::before {
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 80%;
                    background: tomato;
                }
            }
        }
        .menu_widget {
        }
        .loggin_widget {
        }
    }
}

.nav_mobile {
    grid-column: 1;
    grid-row: 1;
    padding: 5px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: lavender;
    .menu_content,
    .text_content,
    .menu_content > .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu_content {
        grid-column: 1;
        grid-row: 1;
        flex-flow: row nowrap;
        .menu {
            flex-flow: row nowrap;
            width: 60%;
            .item {
                width: 18%;
                height: 100%;
                a {
                    padding: 3px 5px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: 1em;
                    color: #fff;
                    border: none;
                    border-radius: 2em;
                    background: dodgerblue;
                    transition: background linear 150ms;
                    text-align: center;
                    &:active {
                        background: rgb(0, 174, 255) !important;
                    }
                    &:hover {
                        background: rgb(7, 97, 181);
                    }
                }
            }
        }
        @media all and (max-width: 882px) {
            .menu {
                .item {
                    width: 16%;
                    &:nth-child(2) {
                        width: 29%;
                    }
                    a {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    .text_content {
        grid-column: 1;
        grid-row: 1 / 2;
        flex-flow: column nowrap;
        .title,
        .slogan {
            width: 100%;
            & > * {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
        }
        .title {
            height: 65%;
            h1 {
                width: 100%;
                height: 100%;
                font-size: 3em;
                font-weight: bolder;
            }
        }
        .slogan {
            height: 35%;
            h2 {
                font-size: 2em;
                width: 100%;
                height: 100%;
            }
        }
    }
    .menu_content_mobile {
        position: fixed;
        height: 130px;
        padding: 0 5px;
        top: $menu_mobile_top;
        z-index: 100;
        left: 5px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        .menu_widget,
        .loggin_widget {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: rgba(30, 146, 255, 0.255);
            cursor: pointer;
            transition: background linear 100ms;
            animation: _opcity 500ms linear;
            &:hover {
                background: rgba(30, 146, 255, 0.474);
                .item_widget {
                    &::before {
                    }
                }
            }
            .item_widget {
                background: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                font-size: 0.8em;
                font-weight: bolder;
                color: #fff;
                width: 50%;
                height: 50%;
                &::before {
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 80%;
                    background: tomato;
                }
            }
        }
        .menu {
            height: 50px;
            width: 368px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            .arrow {
                width: 50px;
                height: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                z-index: 100;
                border-radius: 50%;
                background: rgba(30, 146, 255, 0.255);
                cursor: pointer;
                animation: fadeInOut 700ms linear;
                &:active {
                    background: rgb(30, 146, 255);
                }
                &:hover {
                    background: rgba(30, 146, 255, 0.474);
                }
                img {
                    z-index: -100;
                    display: block;
                    width: 80%;
                    height: 80%;
                }
            }
            .item {
                width: 15%;
                &:nth-child(1) {
                    animation: fadeInOut 600ms linear;
                }
                &:nth-child(2) {
                    animation: fadeInOut 550ms linear;
                }
                &:nth-child(3) {
                    width: 50%;
                    animation: fadeInOut 500ms linear;
                }
                &:nth-child(4) {
                    animation: fadeInOut 450ms linear;
                }
                a {
                    background: dodgerblue;
                    border-radius: 2em;
                    width: 100%;
                    height: 100%;
                    padding: 3px 0;
                    color: #fff;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 1em;
                }
            }
        }
        .menu_widget {
        }
        .loggin_widget {
            top: 60px;
        }
    }
}

@keyframes _opcity {
    from {
        opacity: 0;
        transform: scale(0);
    }
    top {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        left: -300px;
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media all and (max-width: 882px) {
    .nav {
        .text_content {
            .slogan,
            .title {
                h1 {
                    font: 2em;
                }
                h2 {
                    font-size: 1.4em;
                }
            }
        }
    }
}
@media all and (max-width: 882px) {
    .nav {
        grid-template-rows: 50px 1fr;
        .menu_content {
            .menu {
                .item {
                    &:nth-child(1) {
                        min-width: 60px;
                    }
                    &:nth-child(2) {
                        min-width: 160px;
                    }
                    &:nth-child(3) {
                        min-width: 60px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 882px) {
    .nav {
        grid-template-rows: 50px 1fr;
        .menu_content {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr;
            .menu {
                width: auto;
                grid-row: 1;
                grid-column: 1;
                .item {
                    &:nth-child(1) {
                        width: 25%;
                        min-width: 100px;
                    }
                    &:nth-child(2) {
                        width: 45%;
                        min-width: 100px;
                    }
                    &:nth-child(3) {
                        width: 25%;
                        min-width: 100px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 375px) {
    .nav_mobile {
        .menu_content_mobile {
            top: $menu_mobile_375;
            .menu_widget,
            .loggin_widget {
            }
        }
        .text_content {
            .title {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                h1 {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    height: 60%;
                    font-size: 4em;
                    font-weight: bolder;
                    text-align: center;
                }
            }
            .slogan {
                h2 {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    height: 40%;
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }
    }
}
