.home {
    width: 100%;
    display: grid;
    grid-template-rows: 35px auto auto auto auto;
    grid-template-columns: 1fr;
}
@media all and (max-width: 644px) {
    .home {
        grid-template-rows: 80px auto auto auto auto;
    }
}
