$scroll-color: hsl(0, 0%, 99%);
$scroll-bg-color: hsl(209, 100%, 50%);

$editing_mobile-bg-color: hsl(0, 0%, 93%);

$add-input-btn-bg-color: hsla(0,0%,95%,1);
$add-input-btn-border-color: hsla(0,0%,90%,1);

$tags-list-bg-color: hsla(0,0%, 95%, 1);

$tags-list-item-color: hsla(0,0%, 90%, 1);
$tags-list-item-bg-color: hsla(200, 70%, 55%, 1);
$tags-list-item-border-color: hsla(200, 70%, 45%, 1);
$tags-list-item-bg-color-hover: hsla(200, 90%, 60%, 1);
$tags-list-item-border-color-hover: hsla(200, 90%, 55%, 1);

$add-list-tag-item-btn-color: hsla(0,0%, 90%, 1);
$add-list-tag-item-btn-bg-color: hsl(0, 50%, 50%);
$add-list-tag-item-btn-border-color: hsl(0, 60%, 45%);
$add-list-tag-item-btn-bg-color-hover: hsl(0, 75%, 55%);
$add-list-tag-item-btn-border-color-hover: hsl(0, 75%, 50%);
$add-list-tag-item-btn-bg-color-active: hsl(0, 80%, 53%);
$add-list-tag-item-btn-border-color-active: hsl(0, 80%, 48%);
$add-list-tag-item-btn-span-color: hsla(0,0%,95%,1);
$add-list-tag-item-btn-span-color-hover: hsla(0,0%,100%,1);
$add-list-tag-item-btn-span-bg-color: hsl(120, 90%, 35%);
$add-list-tag-item-btn-span-bg-color-hover: hsl(120, 100%, 40%);

$add-new-tag-btn-color: hsla(0,0%, 95%, 1);
$add-new-tag-btn-bg-color: hsla(120, 65%, 65%, 1);
$add-new-tag-btn-border: hsla(120, 65%, 50%, 1);
$add-new-tag-btn-bg-color-hover: hsla(120, 60%, 55%, 1);
$add-new-tag-btn-border-hover: hsla(120, 60%, 45%, 1);
$add-new-tag-btn-bg-color-active: hsla(120, 100%, 70%, 1);
$add-new-tag-btn-border-active: hsla(120, 100%, 43%, 1);

$add-new-service-btn-color: hsl(0, 0%, 100%);
$add-new-service-btn-bg-color: hsla(120, 60%, 49%, 0.671);
$add-new-service-btn-border: hsl(120, 57%, 44%);
$add-new-service-btn-bg-color-active: hsl(120, 100%, 60%);
$add-new-service-btn-border-active: hsl(120, 60%, 49%);

$editing-btn-add-bg-color: hsla(120, 60%, 49%, 0.671);
$editing-btn-add-color-border: hsl(120, 57%, 44%);
$editing-btn-add-bg-color-hover: hsl(120, 60%, 49%);
$editing-btn-add-color-border-hover: hsl(120, 60%, 49%);

$editing-btn-cancel-bg-color: hsla(0, 60%, 49%, 0.671);
$editing-btn-cancel-color-border: hsl(0, 60%, 49%);
$editing-btn-cancel-bg-color-hover: hsl(0, 60%, 49%);
$editing-btn-cancel-color-border-hover: hsl(0, 60%, 49%);

$banner_tags-color: hsl(0, 0%, 100%);
$banner_tags-color-stg: hsla(209, 100%, 40%, 1);
$banner_tags-bg-color: hsla(0, 0%, 10%, 1);

@import 'mobile';
@import 'desktop';

.add_service_container {
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes swipDown {
    0% {
        height: 0px;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}
@keyframes swipLeft {
    0% {
        left: -200%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes swipRight {
    0% {
        right: -200%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
