.loggin_mobile {
  width: 370px;
  height: 50px;
  position: absolute;
  top: 60px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 100%;
  .formularie {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    .email,
    .password,
    .entry {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 39%;
      height: 100%;
      input {
        width: 100%;
        height: 75%;
        border-radius: 2em;
        border: 2px solid dodgerblue;
        padding: 0 10px;
        font-size: 1.1em;
        font-weight: bolder;
        transition: background linear 250ms;
        transition: color linear 250ms;
        &:focus {
          border: none;
          background: dodgerblue;
          color: #fff;
        }
      }
    }
    .email {
      animation: fadeInOut 600ms linear;
    }
    .entry {
      width: 19%;
      button {
        cursor: pointer;
        color: #333;
        font-size: 1.1em;
        font-weight: bolder;
        width: 100%;
        height: 75%;
        border-radius: 2em;
        background: #eee;
        border: 2px solid dodgerblue;
        transition: background linear 200ms;
        transition: color linear 200ms;
        animation: fadeInOut 500ms linear;
        &:active {
          border: none;
          background: dodgerblue;
          color: #fff;
        }
      }
    }
    .password {
      animation: fadeInOut 550ms linear;
    }
    @media all and (max-width: 882px) {
      .email,
      .password,
      .entry {
        input {
          font-size: 0.9em;
        }
      }
      .entry {
        button {
          font-size: 0.8em;
        }
      }
    }
  }
  .back {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgba(30, 146, 255, 0.255);
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1;
    animation: fadeInOut 650ms linear;
    &:active {
      background: rgb(30, 146, 255);
    }
    &:hover {
      background: rgba(30, 146, 255, 0.474);
    }
    img {
      z-index: -100;
      display: block;
      width: 80%;
      height: 80%;
    }
  }
}

.loggin {
  width: 100%;
  height: 100%;
  .formularie {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    .email,
    .password,
    .entry {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 39%;
      height: 80%;
      input {
        width: 100%;
        height: 75%;
        border-radius: 2em;
        border: 2px solid dodgerblue;
        padding: 0 10px;
        font-size: 1.1em;
        font-weight: bolder;
        transition: background linear 250ms;
        transition: color linear 250ms;
        &:focus {
          border: none;
          background: dodgerblue;
          color: #fff;
        }
      }
    }
    .entry {
      width: 19%;
      button {
        cursor: pointer;
        color: #333;
        font-size: 1.1em;
        font-weight: bolder;
        width: 100%;
        height: 75%;
        border-radius: 2em;
        background: #eee;
        border: 2px solid dodgerblue;
        transition: background linear 200ms;
        transition: color linear 200ms;
        &:active {
          border: none;
          background: dodgerblue;
          color: #fff;
        }
      }
    }
    .email {
    }
    .password {
    }
    .entry {
    }
  }
}

@keyframes fadeInOut {
  from {
    left: -300px;
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width: 882px) {
  .loggin {
    min-width: 350px;
    .formularie {
      .email,
      .password,
      .entry {
        font-size: .8em;
      }
      .email {
      }
      .password {
          width: 115px;
      }
      .entry {
          width: 60px;
      }
    }
  }
}
