.nav_mobile,
.nav {
}
.nav_mobile {
    position: fixed;
    z-index: 99999;
  .menu {
    width: 100vw;
    height: 45px;
    background: rgb(63, 60, 60);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    .item {
      width: 35px;
      height: 35px;
      padding: 2px;
      background: aqua;
      border-radius: 50%;
      .link {
        width: 100%;
        height: 100%;
        background: #eee;
        border-radius: 50%;
        padding: 3px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .image {
          width: 85%;
          height: 85%;
        }
      }
      &:nth-child(2) {
        .link {
          .image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.nav {
}
