$profile-modules-bg-color: hsla(0, 0%, 90%, 0);

$information_desktop-bg-color: hsla(220, 0%, 98%, 1);
$dinamic_content_desktop-bg-color: hsla(120, 0%, 98%, 1);
$friends-bg-color: hsla(60, 0%, 98%, 1);

.profil_desktop,
.profil_mobile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.profil_desktop {
    width: 100%;
    height: 100%;
    display: grid;
    grid: 1fr / 250px minmax(320px, auto) 85px;
    grid-gap: 5px;
    padding: 5px;
    .information_desktop,
    .dinamic_content_desktop,
    .friends {
        border-radius: 5px;
        > * {
            width: calc(100% - 10px);
            max-width: 100%;
            background: $profile-modules-bg-color;
            border-radius: 5px;
            padding: 5px;
        }

    }
    .information_desktop {
        background: $information_desktop-bg-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        >*{
            margin: 0 auto 5px auto;
            &:last-child {
                margin: 0 auto;
            }
            &:first-child {
                margin: 5px auto;
            }
        }
    }
    .dinamic_content_desktop {
        background: $dinamic_content_desktop-bg-color;
    }
    .friends {
        background: $friends-bg-color;
        display: grid;
        grid: 20px 1fr / 100%;
        >*{
            grid-column: 1;
        }
        &_title {
            grid-row: 1;
            h5 {
                font-size: .75rem;
            }
        }
    }
}
.profil_mobile {
    grid-column: 1;
    grid-row: 1;
    margin: 45px 0 0 0;
    grid-template-rows: auto auto 1fr;
}
