.service {
    padding: 5px;
    background: $service-bg-color;
    min-width: 315px;
    max-width: 315px;
    flex: 1 0 auto;
    align-self: stretch;
    display: grid;
    grid: 315px 1fr auto/ 100%;
    margin: 5px auto;
    overflow: hidden;
    > * {
        grid-column: 1;
    }
}

.image,
.information {
    grid-column: 1;
}
.interactive {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
}
.like,
.shapes {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: hsla(0, 0%, 90%, 1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    left: 5px;
    opacity: .7;
    &:active {
        transform: scale(.85);
    }
    &:hover {
        opacity: 1;
        background: hsla(0, 0%, 100%, 1);
    }
    img {
        width: 85%;
        max-width: 85%;
        max-height: 85%;
    }
}

.like {
    border-radius: 50%;
    top: 10px;
    &:active {
    }
    img {
        transform: rotateY(180deg);
    }
}
.shapes {
    border-radius: 50%;
    top: 55px;
    &:active {
        img {
            transform: scale(.9);
        }
    }
}

.image {
    grid-row: 1;
    display: block;
    background-size: cover !important;
    border-radius: 5px 5px 0 0;
}
.information {
    grid-row: 2;
    display: grid;
    grid: 45px 1fr / 100%;
    grid-gap: 5px;
    .short_info,
    .info {
        grid-column: 1;
    }
    .short_info {
        grid-row: 1;
        display: flex;
        display: grid;
        grid: 100% / minmax(125px, auto) minmax(auto, 175px);
        grid-gap: 5px;
        .califacation,
        .honorary_delay {
            grid-row: 1;
        }
        .califacation {
            grid-column: 1;
            align-self: stretch;
            padding: 5px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            img {
                display: block;
                width: calc(20% - 10px);
                height: calc(100% - 10px);
                margin: auto 5px;
            }
        }
        .honorary_delay {
            grid-column: 2;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            > p {
                width: 100%;
                height: auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.2rem;
                > strong {
                    font-size: 1rem;
                    white-space: nowrap;
                }
            }
        }
    }
    .info {
        grid-row: 2;
        display: grid;
        grid: auto 1fr / 100%;
        grid-gap: 5px;
        .title,
        .description {
            grid-column: 1;
        }
        .title {
            grid-row: 1;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            .user_name,
            .about {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 450ms linear;
                &:hover {
                    &::before {
                        background: firebrick;
                        height: 5px;
                        bottom: -7px;
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    top: auto;
                    bottom: -5px;
                    background: dodgerblue;
                    border-radius: 50px;
                    transform: translate(-50%, -50%);
                    transition: all 135ms linear;
                }
                > * {
                    text-align: center;
                    width: 100%;
                }
            }
            .user_name {
                grid-column: 1;
                width: 145px;
            }
            .about {
                margin: 0 0 0 15px;
                grid-column: 2;
                flex: 1 1 auto;
                > h5 {
                    font-weight: normal;
                    font-size: .85rem;
                }
            }
        }
        .description {
            grid-row: 2;
            padding: 5px;
            margin: 5px 0 0 0;
            border-radius: 5px;
            background: hsla(200, 10%, 90%, 1);
            p {
                font-size: .87rem;
            }
            .more_information {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                display: grid;
                grid: 100% / auto 1fr;
            }
            .comments {
                border-radius: 5px;
                grid-column: 2;
                grid-row: 1;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: stretch;
                padding: 5px;
                overflow: auto;
                max-height: 150px;
                z-index: 2;
            }
            .comment {
                align-self: stretch;
                width: calc(100% - 5px);
                height: 55px !important;
                min-height: 55px !important;
                max-height: 55px !important;
                border-radius: 5px;
                background: hsla(0, 0%, 95%, 1);
                margin: auto auto 5px auto;
                display: grid;
                grid: 100% / 45px 1fr;
                grid-gap: 5px;
                padding: 5px;
                &:last-child {
                    margin: auto;
                }
            }
            .comment_user_photo {
                background-size: contain !important;
                grid-column: 1;
                grid-row: 1;
                display: block;
                border-radius: 5px;
            }
            .content {
            }
            .meta_info {
                grid-column: 2;
                display: grid;
                > p {
                    font-size: .65rem;
                }
                > span {
                    background: hsl(210, 100%, 60%);
                    color: hsla(0, 0%, 95%, 1);
                    border-radius: 2px;
                    padding: 2px 0;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: bolder;
                    white-space: nowrap;
                    font-size: .7rem;
                }
            }
        }
    }
    .controllers {
        grid-row: 3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        > * {
            width: 50%;
            min-width: 50%;
            max-width: 50%;
        }
        .postulate,
        .comments {
            flex: 0 0 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .cls_button_not,
            .cls_button_postulate,
            .cls_button_comments {
                color: hsla(0, 0%, 100%, 1);
                border-radius: 5px;
                height: 30px;
                width: calc(100% - 5px);
                font-size: 1.1rem;
                z-index: 2;
                transition: all linear 100ms;
            }
            .cls_button_not {
                border: 2px solid $cls_button_not-border-color;
                background: $cls_button_not-bg-color;
                &:hover {
                    border: 2px solid $cls_button_not-border-color-hover;
                    background: $cls_button_not-bg-color-hover;
                    &:active {
                        border: 2px solid $cls_button_not-border-color-active;
                        background: $cls_button_not-bg-color-active;
                        transform: scale(.80);
                    }
                }
            }
            .cls_button_postulate {
                border: 2px solid $cls_button_postulate-border-color;
                background: $cls_button_postulate-bg-color;
                &:hover {
                    border: 2px solid $cls_button_postulate-border-color-hover;
                    background: $cls_button_postulate-bg-color-hover;
                    &:active {
                        border: 2px solid $cls_button_postulate-border-color-active;
                        background: $cls_button_postulate-bg-color-active;
                        transform: scale(.80);
                    }
                }
            }
            .cls_button_comments {
                border: 2px solid $cls_button_comments-border-color;
                background: $cls_button_comments-bg-color;
                &:hover {
                    border: 2px solid $cls_button_comments-border-color-hover;
                    background: $cls_button_comments-bg-color-hover;
                    &:active {
                        border: 2px solid $cls_button_comments-border-color-active;
                        background: $cls_button_comments-bg-color-active;
                        transform: scale(.80);
                    }
                }
            }
            .cls_button_not_comments {
                color: hsla(0, 0%, 100%, 1);
                border-radius: 5px;
                height: 30px;
                width: calc(100% - 5px);
                font-size: 1.1rem;
                z-index: 2;
                transition: all linear 100ms;
                border: 2px solid $cls_button_not_comments-border-color;
                background: $cls_button_not_comments-bg-color;
                &:hover {
                    border: 2px solid $cls_button_not_comments-border-color-hover;
                    background: $cls_button_not_comments-bg-color-hover;
                    &:active {
                        border: 2px solid $cls_button_not_comments-border-color-active;
                        background: $cls_button_not_comments-bg-color-active;
                        transform: scale(.80);
                    }
                }
            }
        }
        .postulate {}
        .comments {}
    }
}
