$scroll-color: rgb(252, 252, 252);
$scroll-bg-color: rgb(0, 132, 255);
$service-offert-bg-color: rgb(228, 228, 228);
$service-bg-color: hsl(0, 0%, 95%);
$service-height: 100px;

@import 'mobile';
@import 'desktop';

.service_mobile,
.service {
  border-radius: 5px;
}
