.nav {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-gap: 5px;
    background: #333;
    .menu {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        min-width: 320px;
        .item {
            width: 23%;
            height: 100%;
            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                font-size: 1.1em;
                color: #eee;
                text-shadow: 1px 1px 1px #eee;
                position: relative;
                z-index: 1;
                &::before {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 5px;
                    background: #eee;
                    position: absolute;
                    top: auto;
                    bottom: 0;
                    left: 5%;
                    transition: width ease-in-out 250ms;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 90%;
                    height: 5px;
                    background: dodgerblue;
                    position: absolute;
                    top: auto;
                    bottom: 0;
                    left: 5%;
                    transition: height ease-in-out 150ms;
                    z-index: -1;
                }
                &:hover {
                    color: #eee;
                    &::before {
                        width: 90%;
                    }
                    &::after {
                        height: 100%;
                    }
                }
            }
        }
    }
}
.nav_mobile {
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    display: block;
    .menu_mobile,
    .popMenu_mobile,
    .popLogin_mobile {
    }
    .popMenu_mobile,
    .popLogin_mobile {
        background: hsla(0, 0%, 20%, .9);
        position: absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: pop 350ms alternate;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 70%;
            height: 70%;
        }
    }
    .menu_mobile {
        width: calc(100vw - 20px);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        &::before {
            content: "";
            width: 0;
            height: 35px;
            background: hsla(0, 0%, 20%, .9);
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            //transition: width 250ms ease-in-out;
            animation: widthToRight ease-in-out 350ms alternate;
            width: 100%;
        }
        .back_mobile,
        .item_mobile {
            width: auto;
            padding: 5px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex: 1 0 auto;
            margin: 0 5px 0 0;
            &:last-child {
                margin: 0;
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #fff;
                z-index: 2;
                &::before {
                    content: "";
                    width: 100%;
                    height: 0;
                    background: #333;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    transition: height 100ms ease-in-out;
                }
                &:hover::before {
                    height: 100%;
                }
            }
            img {
                height: 100%;
            }
        }
        .back_mobile {
            animation: pop 350ms alternate;
        }
        .item_mobile {
            &:nth-child(2) {
                animation: pop 350ms alternate;
            }
            &:nth-child(3) {
                animation: pop 450ms alternate;
            }
            &:nth-child(4) {
                animation: pop 550ms alternate;
            }
            &:nth-child(5) {
                animation: pop 650ms alternate;
            }
        }
    }
    .popMenu_mobile {
    }
    .popLogin_mobile {
        top: 53px;
    }
}
@media all and (max-width: 644px) {
    .nav {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        .menu {
            grid-column: 1;
            grid-row: 1;
        }
    }
}
@media all and (max-width: 320px) {
    .nav_mobile {
        .item_mobile {
            >*{
                font-size: .8em;
            }
        }
    }
}
@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0);
    } 100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes widthToRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
